
<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text"></p>
          <div class="author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class="avatar img-fluid" src="assets/img/OJ.JPG" />

              <h3 class="description">Onyenuwe Japheth</h3>
            </a>
            <p class="description">Software Developer</p>
          </div>
          <div class=" card-description">
            I am a creative front-end developer and stickler for proper development practices.
            Adept at motivating self and others. Passionate about user experience and educating the next generation of technology users.
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button class=" btn btn-icon btn-round btn-linkedin">
             <a href="https://www.linkedin.com/in/onyenuwe-japheth-14a711150/" target="_blank" class="profile-url"><i class=" fab fa-linkedin"> </i></a>
            </button>
            <button class=" btn btn-icon btn-round btn-twitter">
              <a href="https://twitter.com/japhheth" target="_blank" class="profile-url"><i class=" fab fa-twitter"> </i></a>
            </button>
            <button class="btn btn-icon btn-round btn-github">
              <a href="https://github.com/japhheth" target="_blank" class="profile-url"><i class="fab fa-github"></i></a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
